<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <h1>Update Details</h1>
    <form action="" method="POST">
        <input name="id" type="hidden" value="<%-data[0].id%>">
        <input type="text" name="name" value=<%-data[0].name%> placeholder="Enter Name"><br/>
        <input type="text" name="ssn" value=<%-data[0].ssn%> placeholder="Enter SSN"><br/>
        <input type="date" name="dob" value=<%-data[0].dob%> placeholder="Enter dob"><br/>
        <input type="date" name="doj" value=<%-data[0].doj%> placeholder="Enter doj"><br/>
        <input type="text" name="experience" value=<%-data[0].experience%> placeholder="Enter experience"><br/>
        <input type="text" name="salary" value=<%-data[0].salary%> placeholder="Enter salary"><br/>
        <input type="text" name="department" value=<%-data[0].department%> placeholder="Enter department"><br/>
        <input type="submit" value="submit">


    </form>
    
</body>
</html>